@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
  background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
  height: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  font-weight: 700;
  color: #f0f0f0;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: 700;
  color: #333333;
  margin: 5px auto;
  padding: 0px 5px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: #333333;
  margin: 5px auto 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  font-weight: 400;
  color: #e3e3e3;
  margin: 5px auto 15px;
}

a {
  color: #7b7b7b;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: #3fbfb2;
}

.error {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  background-color: lightpink;
  border-radius: 3px;
  color: darkred;
}

main {
  width: 90%;
  max-width: 600px;
  margin: 5% auto 0;
  text-align: center;
}

.header {
  margin: 0;
}

.logo {
  width: 15%;
}

section {
  margin: 20px auto;
}

.search-form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid transparent;
  background-color: #e4e4e4;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.search-form input:hover {
  background-color: #e4e4e4;
}

.search-form input:focus {
  background-color: #e4e4e4;
  color: #000000;
}

.search-form button {
  background-color: #48dacb;
  padding: 10px 15px;
  border: 1px solid transparent;
  color: #333333;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition: 0.15s ease-in-out;
  margin-bottom: 10px;
}

.search-form button:hover {
  background-color: #3fbfb2;
  color: #000;
}

.data {
  background-color: #ffffff;
  margin: 15px auto;
  border-radius: 6px;
}

.data-image {
  width: 100%;
}

.data-image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.data-locations {
  width: 90%;
  margin: 0 auto;
}

.location-card {
  display: inline-block;
  width: 25%;
  vertical-align: baseline;
  padding: 2px;
  color: #333333;
}

.location-image {
  width: 100%;
}

.location-image img {
  width: 80%;
}

footer {
  margin: 20px auto;
  padding: 1% 0;
}

.footer p {
  font-size: 70%;
  margin: 2px auto;
  color: #7b7b7b;
}
